<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Home</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcome to my blog</h1>
    <p>This is my blog!</p>
    <div class="article">
        <h2>{{ title }}</h2>
        <p>By {{ author }}</p>
        <div>
            <p>
                {{ content }}
            </p>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <img class="sidenav-btn icon icn-light" src="{% static 'Icons/cross.png' %}" alt="Side bar" onclick="closeNav()"/>
        <a href="Home.html">Home</a>
    </div>
    <img class="sidenav-btn icon" onclick="openNav()" src="{% static 'Icons/Menu_icon.png' %}" alt="Side bar"/>
    <script src="{% static 'sidenav.js' %}"></script>
</body>
</html>